{% extends "layout.html" %}

{% block content %}
        
    <section class="main">
        
        <section class="articles">
            <article>
                <h2>Aves</h2>
                <br>
                <h3>Cuidados Básicos</h3>
                <p>Las aves necesitan cuidados especiales para mantenerse saludables y felices. Proporciónales una jaula espaciosa y limpia, una dieta equilibrada de semillas, frutas y verduras, y asegúrate de ofrecerles agua fresca todos los días.</p>
                <img src="/static/img/AVEC.jpg" width="300px" style="margin-top: 10px;">
                <br><br>
                <h4>Alimentación</h4>
                <p>Las aves tienen necesidades dietéticas específicas. Investiga qué tipo de alimento es adecuado para la especie de ave que tengas y asegúrate de ofrecerles una dieta variada y nutritiva.</p>
                <img src="/static/img/AVEA.jpg" width="300px" style="margin-top: 10px;">
                <br><br>
                <h5>Curiosidades</h5>
                <p>Las aves son conocidas por su increíble habilidad para volar, su colorido plumaje y sus singulares cantos. Son mascotas fascinantes que pueden crear vínculos estrechos con sus cuidadores.</p>
                <img src="/static/img/AVEB.jpg" width="300px" style="margin-top: 10px;">
            </article>
        </section>  
    </section> 
      
    {% endblock %}
