{% extends "layout.html" %}

{% block content %}
        
    <section class="main">
        
        <section class="articles">
            <article>
                <h2>Gatos</h2>
                <br>
                <h3>Cuidados Básicos</h3>
                <p>Los gatos necesitan cuidados diarios para mantenerse saludables y felices. Asegúrate de proporcionarles alimentación adecuada, un entorno limpio y seguro, y atención veterinaria preventiva.</p>
                <img src="/static/img/CATC.jpg" width="300px" style="margin-top: 10px;">
                <br><br>
                <h4>Comportamiento</h4>
                <p>Los gatos tienen comportamientos únicos y fascinantes. Son independientes pero también pueden ser cariñosos y juguetones. Observa a tu gato y aprende a entender sus señales.</p>
                <img src="/static/img/CATC2.jpg" width="300px" style="margin-top: 10px;">
                <br><br>
                <h5>Expectativa de Vida</h5>
                <p>Los gatos pueden vivir entre 12 y 20 años, dependiendo de varios factores como la raza, el estilo de vida y la atención médica que reciban. Asegúrate de brindarles los cuidados necesarios para una vida larga y saludable.</p>
                <img src="/static/img/CATT.jpg" width="300px" style="margin-top: 10px;">
            </article>
        </section>  
    </section> 
      
    {% endblock %}

