{% extends "layout.html" %}

{% block content %}
        
    <section class="main">
        
        <section class="articles">
            <article>
                <h2>Perros</h2>
                <br>
                <p>Los perros son animales increíbles que han sido nuestros compañeros desde hace miles de años. Aquí encontrarás información sobre cuidados, razas y más.
                    <img src="/static/img/DOG1.jpg" width="300px">
               </p>
           </article>
            <article>
               <h2>Gatos</h2>
                <br>
                <p>Los gatos son animales fascinantes con personalidades únicas. Descubre consejos sobre cómo cuidar a tu gato, curiosidades sobre su comportamiento y más.
                    <img src="/static/img/CAT1.jpg" width="300px">
               </p>
            
            </article>
            <article>
                <h2>Aves</h2>
                <br>
                <p>Las aves son criaturas asombrosas con una gran diversidad de especies. Explora información sobre cuidados, alimentación y curiosidades sobre estas criaturas.
                    <img src="/static/img/AVE1.jpg" width="300px">
               </p>
            </article>
        </section>  
    </section> 
    <aside>
        <h3> Hola!</h3>
        <p> En esta pagina, hablaremos algunas cosas sobre los animales que hay
            <br>
            en nuestra veterinaria
            ¡disfruta tu estadia!
        </p>
          
    </aside>
      
    {% endblock %}
