{% extends "layout.html" %}

{% block content %}
        
    <section class="main">
        
        <section class="articles">
            <article>
                <h2>Perros</h2>
                <br>
                <h3>Cuidados Básicos</h3>
                <p>Los perros necesitan cuidados diarios para mantenerse saludables y felices. Asegúrate de proporcionarles alimentación adecuada, ejercicio regular y atención veterinaria preventiva.</p>
                <img src="/static/img/DOGC.jpg" width="300px" style="margin-top: 10px;">
                <br><br>
                <h4>Razas</h4>
                <p>Existen cientos de razas de perros, cada una con características únicas en términos de tamaño, temperamento y necesidades. Investiga bien antes de elegir la raza que mejor se adapte a tu estilo de vida.</p>
                <img src="/static/img/DOGR.jpg" width="300px" style="margin-top: 10px;">
                <br><br>
                <h5>Adiestramiento</h5>
                <p>El adiestramiento es fundamental para tener una convivencia armoniosa con tu perro. Enséñale órdenes básicas como sentarse, quedarse quieto y venir cuando se le llame. La consistencia y el refuerzo positivo son clave.</p>
                <img src="/static/img/DOGA.jpg" width="300px" style="margin-top: 10px;">
            </article>
        </section>  
    </section> 
      
    {% endblock %}
